@using Kendo.Mvc.UI
@using WebApplication.Controllers.ViewModels.Line

@{
    ViewBag.Title = "Index";
}

@section head
{
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
}



<h2>Quote Lines</h2>

@(Html.Kendo().Grid<IndexModel>().Name("Grid")
                .TableHtmlAttributes(new { @class = "table" })
                                .HtmlAttributes(new { @class = "table-responsive" })
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("_Quotes", "Line"))
          .Sort(sort =>
          {
              sort.Add(o => o.tblJobJobID).Descending();
          })
      )
      .Columns(columns =>
      {
          columns.Bound(o => o.tblJobJobID).ClientTemplate("#: data.UniqueId #").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Template("IntegerFilter")));
          columns.Bound(o => o.LineId).Visible(false);
          columns.Bound(o => o.tblJobtblClientClientCompanyName).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(true)));
          columns.Bound(o => o.Description).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(true)));
          columns.Bound(o => o.ExpectedDeliveryDate).ClientTemplate("#: data.ExpectedDeliveryDateString #").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(true))); 
          columns.Bound(o => o.DrawingNumber).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
          columns.Bound(o => o.Value).Format("{0:C}").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(true)));
      })
      .Sortable(sorting => sorting.SortMode(Kendo.Mvc.UI.GridSortMode.MultipleColumn)
      )
           .Pageable(pageable => pageable.PageSizes(new[] { 10, 20, 30, 50, 100, 200 }))
      .EnableCustomBinding(true)
      .Resizable(resizing => resizing.Columns(true))
      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
      .Selectable()
      .Events(events =>
      {
          events.Change("RowSelected");
          events.DataBound("DataBound");
      }))

<script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.en-gb.min.js")"></script>
<script type="text/javascript">
    kendo.culture("en-GB");

    function IntegerFilter(args) {
        args.element.kendoNumericTextBox({ format: "#", decimals: 0, spinners: false });
    }


    function DataBound(e) {
        //persistanceHelper.Save();
    }

    function RowSelected(e) {
        e.preventDefault();
        var grid = $("#Grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        var newloc = "@Url.Action("Edit")/";
        document.location.href = newloc + selectedItem.LineId;
    }
</script>



